body{
    margin: 30px;
    font-family: Helvetica, sans-serif;
}

ul{
    list-style-type: circle;
    color: aliceblue;
}

h1{
    margin: auto;
    font-family: Helvetica, sans-serif;
    color: aliceblue;
}

header{
    margin: auto;
}

body{
    background-color: #10BE67;
    color: aliceblue;
}

img{
    padding-top: 10px;
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

button{
    cursor: pointer;
    transition: 0.5s;
    background-color: aliceblue;
    color: #00d323;
    border-radius: 2px;
    border: none;
    min-height: 30px;
}

button:hover{
    font-weight: bold;
}

a{
    color: #baf9ff;
}