<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
   <link rel="stylesheet" href="./static/style.css">
</head>
<header>
    <h1>Welcome to the Plant Discovery App!</h1>
    <h3>All text information found on this site is sourced from Wikipedia</h3>
</header>
<body>
<h4>Enter a plant in the search bar to find out more information:</h4>
<form action="#" method="post">
    <input type="text" name="plantname">
    <button type="submit" value="submit">SEARCH</button>
</form>
<h3>--OR--</h3>
<form action="/random" method="get">
    <button type="submit" value="submit">VIEW RANDOM PLANT</button>
</form>
<h3>Plants available for search:</h3>
<ul>
    {% for item in data %}
    <li><a href="/link?plant={{item}}">{{item}}</a></li>
    {% endfor %}
</ul>
</body>
<footer>
    <p>Created by Kelson Denton for OSU CS361 Software Engineering</p>
    <p>Plant information sourced from Wikipedia and all plants listed on https://en.wikipedia.org/wiki/Houseplant</p>
</footer>
</html>